/* Background */

body {
    background-color: $jumbotron-bg; // red; //rgb(233, 236, 239);
}

.container-white {
    background-color: white;
}

/* Logos */

.logo-circ {
    height: 1.5em;
    @include media-breakpoint-up(md){
        height: 3em;
    }
}