/* Background */

body {
    background-color: $jumbotron-bg; // red; //rgb(233, 236, 239);
}

.container-white {
    background-color: white;
}

/* Logos */

.logo-bgsu {
    /* Tip: height + margin-top + margin-bottom = 1em */
    height: 1.2em;
    margin-top: -0.16em;
    margin-bottom: 0.04em;
}

.logo-mephi {
    /* Tip: height + margin-top + margin-bottom = 1em */
    height: 2em;
    margin-top: -0.65em;  
    margin-bottom: -0.35em;
}

.logo-bhsad {
    /* Tip: height + margin-top + margin-bottom = 1em */
    height: 1.8em;
    margin-top: -0.4em;  
    margin-bottom: -0.4em;
}
