/* Import Zilla Slab and Noto */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Zilla+Slab:wght@700&display=swap');
html {
	margin: 2rem 2rem 1rem 2rem;
}

body {
	font-family: 'Noto Sans', serif;
	/* font-family: 'Noto Sans', 'Noto Color Emoji Compat', serif; */
	font-size: 0.55rem;	
}

h1, h2 {
	font-family: 'Zilla Slab', serif;
	font-weight: 700;
}

h1 {
	font-size: 1.4rem;
	margin-bottom: 0;
}

h2 {
	font-size: 1.05rem;
	margin-bottom: 0;
}

/* pre {
	font-size: 1.1em;
} */

svg {
	height: 1.1rem;
	width: 1.1rem;
	display: inline-block;
	vertical-align: middle;
	margin-left: 1rem;
}

svg:first-child {
	margin-left: 0;
}

table {
	font-size: inherit;
}