/* Import Zilla Slab and Noto */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Zilla+Slab:wght@700&display=swap');

/* Import Emoji */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Colr+Emoji+Glyf');*/

html {
	margin: 0.5rem 2rem 1rem 2rem;
}

body {
	font-family: 'Noto Sans', serif;
	font-size: 0.75rem;	
}

h1, h2 {
	font-family: 'Zilla Slab', serif;
	font-weight: 700;
}

/*
.emoji {
	font-size: var(--font-size); 
	font-family: "Noto Colr Emoji Glyf";
}
*/