/* Import Zilla Slab and Noto */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Zilla+Slab:wght@700&display=swap'); */

/* Import Roboto Serif Bold, Roboto (Regular, Bold, Italic )and Roboto Mono Regular */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Serif:wght@700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

html {
	margin: 0;
}

body {
	font-family: 'Roboto', serif;
	font-size: 0.75rem;
}

b,
strong {
	font-family: 'Roboto', serif;
	font-weight: 700;
}

h1, h2 {
	/* font-family: 'Zilla Slab', serif; */
	font-family: 'Roboto Serif', serif;
	font-style: normal;
	font-weight: 700;
}

h1 {
	/* font-size: 1.4rem; */
	margin-bottom: 0;
}

h2 {
	/* font-size: 1.05rem; */
	margin-TOP: 1.2rem;
	margin-bottom: 0.7rem;
}

h3 {
	font-size: 0.75rem;
	margin-top: 1rem;
	margin-bottom: 0.3rem;
}

li+h2{
	margin-bottom: 1.2rem;
}


pre {
	font-family: 'Roboto Mono', monospace;
	/* font-size: 1.1em; */
}

ul {
	padding-left: 1rem;
}

p, li {
	margin: 0.3rem 0;
}

/* li:first-child {
	margin-top: 0;
} */

/* li:last-child {
	margin-bottom: 0;
} */

svg {
	height: 1.1rem;
	width: 1.1rem;
	display: inline-block;
	vertical-align: middle;
	margin-left: 1rem;
}

svg:first-child {
	margin-left: 0;
}

table {
	/* font-size: inherit; */
}

.right {
	float: right;
	margin-top: -1.2rem;
}